<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            <%= titulo %>
            <span class="text-primary"><%= titulo2 %></span>
        </h1>
        <div class="subheading mb-5">
            <%= datos %>
            <a id="a1" href="mailto:chirtianzaor1090@gmail.com"><%= link %></a>
            <a id="a2" href="https://github.com/Arcoons"><%= link2 %></a>
            <a id="a3" href="https://drive.google.com/drive/folders/16alb3s8POYtR0oa5ga4tBuiSKC0mZbPL?usp=sharing"><%= link3 %></a>
            
        </div>
        <p class="lead mb-5"><%= decripcion %></p>
    </div>
</section>